body {
    font-family: 'Rajdhani', sans-serif;
    padding-bottom: 54px;
}

h1,
h2,
h3 {
    font-family: 'Bungee Shade', cursive;
}

h4,
h5,
li.nav-item,
a.btn {
    font-family: 'Bungee Hairline', sans-serif;
}

a.logo img {
    width: 100px;
    height: 115px;
    margin-top: -30px;
}

a.logo h1 {
    font-size: 245%;
}

div.banner h1,
div.banner h2,
div.banner h3,
div.banner h4,
div.banner h5 {
    background-color: white;
    display: inline;
}

.banner-title, .banner-link {
    height: 400px;
}

.bg-image-overlay {
    background-color:rgba(255,255,255,0.3);
}

footer {
    position: fixed;
    height: 54px;
    bottom: 0;
    width: 100%;
}