{% if include.bgcolor %}
{% assign style_overlay = 'style="background-color: #' | append: include.bgcolor | append: ';"' %}
{% elsif include.bgimage %}
{% assign style_overlay = 'style="background-image: url(/img/' | append: include.bgimage | append: ');"' %}
{% assign class_banner = 'bg-image-overlay' %}
{% endif %}
<div class="container-fluid px-0">
    <div class="overlay" {{style_overlay}}>
        <div class="overlay {{class_banner}}">
            <div class="container">
                <div class="banner row px-5 mx-0">
                    <div class="col-sm-4 d-none d-sm-block">
                        <div class="position-relative banner-title">
                            <div class="position-absolute top-50 start-0 translate-middle-y">
                                <h1>{{ include.title }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 d-none d-sm-block">
                        <div class="position-relative banner-link">
                            <div class="position-absolute top-50 start-50 translate-middle-y">
                                {% if include.link %}
                                <a href="{{include.link.address}}"
                                    class="btn btn-dark btn-lg float-end shadow-lg rounded">{{include.link.title}}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-sm-none py-3">
                        <h3>{{ include.title }}</h3>
                        <div class="m-1"><br /></div>
                        {% if include.link %}
                        <a href="{{include.link.address}}"
                            class="btn btn-dark btn-xs shadow-xs rounded">{{include.link.title}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>