<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

<head>
    {% include head.html %}

    <title>Hipster Animals - {{page.title}}</title>
</head>

<body class="d-flex flex-column h-100">
    <header class="mt-5">
        <nav class="navbar navbar-light navbar-expand-sm bg-faded justify-content-center">
            <div class="container">
                <a href="/" class="navbar-brand d-flex w-50 me-auto logo">
                    <img src="img/logo.png" class="h-25 w-25 h-lg-100 w-lg-100" />
                    <h1 class="ms-2 d-none d-lg-block"><strong>hipster animals</strong></h1>
                </a>
                {% include menu.html %}
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">
        {% for banner in page.banners %}
        {% include banner.html bgcolor=banner.bgcolor bgimage=banner.bgimage title=banner.title link=banner.link %}
        {% endfor %}
        <div class="container gap-">
            <div class="row p-5 mx-0">
                <div class="col-12">
                    {{ content }}
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <div class="container">
                <h4 href="/" class="navbar-brand d-flex w-50 me-auto text-light">
                    {{page.footnote}}
                </h4>
                {% include menu.html light=true %}
            </div>
        </nav>
    </footer>

    {% include scripts.html %}
</body>

</html>