<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <title>{{page.title}}</title>
</head>

<body class="d-flex flex-column h-100">
    <header class="mt-5">
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <div class="container">
                <a href="/" class="navbar-brand d-flex w-50 me-auto logo">
                    <img src="img/logo.png" />
                    <h1 class="ms-2"><strong>hipster animals</strong></h1>
                </a>
                <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                    <li class="nav-item"><a class="nav-link" href="/about.html"><strong>about</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://twitter.com/punksykick"><i
                                class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">
        <div class="container-fluid px-0">
            {% for banner in page.banners %}
            {% include banner.html bgcolor=banner.bgcolor bgimage=banner.bgimage title=banner.title link=banner.link %}
            {% endfor %}
            <div class="row p-5 mx-0">
                <div class="col-12">
                    {{ content }}
                </div>
            </div>
        </div>
    </main>
    <footer class=" bg-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <div class="container">
                <span href="/" class="navbar-brand d-flex w-50 me-auto">
                    <a href="https://opensea.io/collection/hipsterdogs" class="text-light">get a hipster animal.</a>
                </span>
                <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                    <li class="nav-item"><a class="nav-link text-light" href="/about.html"><strong>about</strong></a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-light" href="https://twitter.com/punksykick"><i
                                class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/d9e89e39c9.js"></script>
</body>

</html>